@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap");

body {
  margin: 0;
  font-family: "Mukta", "Helvetica Neue";
}


button {
  background-color: #aa0404;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 1%;
}

.wrapper {
  width: 100%;
  height: auto;
  z-index: 20;
}

#video_background {
  filter: blur(8px);
  -webkit-filter: blur(8px);
  position: absolute;
  bottom: 0px;
  right: 0px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  overflow: hidden
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
}

.center-text {
  text-align: center;
  color:white;
  text-shadow: 2px 2px 0px #221f1f;
}